.rating-box {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;

  ul {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
  }
}

.rating-star {
  float: left;

  input {
    display: none;
    position: absolute;
  }

  label {
    background: url('../images/stars.png') 0 0 repeat-x;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    width: 27px;
    &:hover {
      background-position: 0 -25px;
    }
  }

  input:checked + label{
    background-position: 0 -51px;
  }
}
