.rating-box {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
}

.rating-stars {
  ul {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
  }
}

.rating-star {
  float: left;

  a {
    background: image_url("stars.png") 0 0 repeat-x;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    width: 27px;
    &:hover {
      background-position: 0 -25px;
    }
    &.hovered {
      background-position: 0 -25px;
    }
    &.active {
      background-position: 0 -51px;
    }
    &.inactive {
      background-position: 0 0;
    }
  }

}
